# **자료형**

##Q1. 다음 수의 평균을 구하세요.

80, 75, 55, 95

In [18]:
(80+75+55+95)/4

76.25

##Q2. 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력하세요.
홍길동 씨의 주민등록번호는 881120-1068234이다.

In [19]:
# 답을 작성해주세요
id_Hong = "881120-1068234"
print(id_Hong[:6],id_Hong[-7:])

881120 1068234

##Q4. 주민등록번호에서 성별을 나타내는 숫자를 출력하세요.
주민등록번호 뒷자리의 첫 번째 숫자는 성별을 나타낸다.

In [20]:
# 답을 작성해주세요
id_pin = "881120-2153468"
print(id_pin[7])

2

##Q5. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 정렬하세요

In [21]:
# 답을 작성해주세요
rand_list = [1, 3, 5, 4, 2]
rand_list.sort(reverse = True)
rand_list

[5, 4, 3, 2, 1]

##Q7. 다음 리스트를 Life is too short 문자열로 만들어 출력하세요

In [22]:
# 답을 작성해주세요
string_list = ['Life', 'is', 'too', 'short'] 

" ".join(string_list)

'Life is too short'

# **제어문**

## Q1. 다음 코드의 결과는?
```python
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")
```

In [16]:
# 답을 작성해주세요
# shirt

##Q2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구하세요

In [29]:
# 답을 작성해주세요 ?? 

num = 0
sum = 0
while (num <= 1000):
    num += 1
    while (num % 3 == 0):
        sum += num
        num += 1
        continue
print(sum)

166833

## Q3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성하세요

![image.png]()

In [3]:
# 답을 작성해주세요
a = 0
while a < 5:
  a = a+1
  print('*'*a)

*
**
***
****
*****

## Q4. for문을 사용해 1부터 100까지의 숫자를 출력하세요

In [46]:
# 답을 작성해주세요
for i in range(100):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

##Q5. for문을 사용하여 평균을 구하세요.

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [2]:
# 답을 작성해주세요
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for num in scores:
    sum += num
print(sum/len(scores))

79.0

##Q6. number list에서 홀수에만 2를 곱해 결과를 result에 저장한 후 출력하세요

In [44]:
numbers = [1, 2, 3, 4, 5]
result = [num*2 for num in numbers if (num%2 == 1)]
result

[2, 6, 10]

# **함수와 입출력**

##Q1. 주어진 자연수가 홀수인지 짝수인지 판별하는 함수를 작성하세요

In [40]:
# 답을 작성해주세요
def is_odd(a):
    if(a % 2 == 0):
        print("짝수")
    else:
        print("홀수")

##Q2. 입력으로 들어오는 모든 수의 평균을 계산해주는 함수를 작성하고 실행하세요
(입력으로 들어오는 수의 개수는 랜덤입니다.)

In [ ]:
# 답을 작성해주세요
def average_rand(n):
  j = 0
  for i in n:
    j += i
  return j/len(n)

##Q3. 다음 프로그램의 오류를 수정하고 실행하세요

In [39]:
input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:1
두번째 숫자를 입력하세요:2
두 수의 합은 3 입니다

In [ ]:
# 수정한 코드를 작성하고 실행하세요

##Q4. 다음 중 출력 결과가 다른 것 하나를 고르세요

1. print("you" "need" "python")
2. print("you"+"need"+"python")
3. print("you", "need", "python")
4. print("".join(["you", "need", "python"]))

In [ ]:
# 답을 작성해주세요
#3번